<div class="container">

</div>
<app-radar-chart [companies]="selectedCompanies"></app-radar-chart>
<div class="container controls">
  <h4>Controls</h4>
  <p>
    Click on a company to display it's chart. Hover on a chart to display company information.
  </p>

  <form class="form-filter">
    <div class="row">
      <div class="col-sm-4">
        <input type="text" class="form-control" placeholder="Name" autofocus [value]="name" [formControl]="nameControl">
      </div>
      <div class="col-sm-4">

        <div class="list-group list-group-flush filter-companies">
          <button type="button" class="list-group-item list-group-item-action" *ngFor="let company of filteredCompanies" [ngClass]="{'active': company.checked}" [style.background-color]="company.checked ? company.color : white" [style.border-color]="company.checked ? company.color : ''" (click)="onSelect(company)">
            {{company.name}}
          </button>
        </div>
      </div>
    </div>
  </form>

  <h4>Credits</h4>
  <p>
    Original idea from <a href="https://public.tableau.com/profile/skybjohnson#!/">Skyler Johnson's</a> <a href="https://public.tableau.com/profile/skybjohnson#!/vizhome/Fortune100GlassdoorReviews/Fortune100Glassdoor">Fortune 100 Tableau</a>.
  </p>
  <p>
    Data sources <a href='https://www.glassdoor.com/index.htm'>powered by <img src='https://www.glassdoor.com/static/img/api/glassdoor_logo_80.png' title='Job Search' /></a>
  </p>

  <h4>Source</h4>
  <p>
    <a href="https://github.com/jonasrenault/fortune100">Github</a>
  </p>

</div>
